body {
	margin: 0;
	padding: 0;
}
.head {
	width: 100%;
}
.bar {
	position: absolute;
	margin: 10px;
	left: 10%;
	top: 0px;
}
.bar li {
	display: inline;
	padding: 0 9px;
}
.bar a {
	color: #222222;
}
.bar a:link{
	font-size: 12px;
	text-decoration: none;
}
.bar_2 {
	position: absolute;
	left: 76.5%;
	top: -10px;
}
.logo {
	position: absolute;
	width: 16px;
	left: 12.8%;
	top: 14px;
}
.p1 {
	position: relative;
	top: 13px;
	right: 15px;
	width: 36px;
	height: 36px;
}
.l1 {
	text-decoration: none;
}
.history {
	font-size: 12px;
}
.contribution {
	padding: 12px 12px 20px;
	margin: 0 5px;
	color: #fff;
	background-color: #da5380;
	font-size: 14px;
	letter-spacing: 4px;
}
.p2 {
	position: relative;
	top: 13px;
	right: 12px;
    width: 54px;
    height: 34px;
}
.top-banner {
	width: 100%;
	height: 86px;
	background: #00a0d8;
	text-align: center;
	margin-top: 40px;
}
.main_2 {
	width: 100%;
}
.title-line {
    width: 980px;
    height: 28px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 28px;
    margin-top: 20px;
}
.tit {
    width: 120px;
    height: 47px;
    margin: 0 auto;
    display: block;
    font-size: 40px;
    background: #fff;
    text-align: center;
}
.register {
	width: 980px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	position: relative;
	text-align: center;
}
.box_2 {
	position: relative;
	width: 415px;
	margin: 0 auto;
}
.box {
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}
.u_n_pwd {
	height: 20px;
    width: 395px;        
    padding: 10px;
    color: #a5a5a5;
}
.hint {
	color: #f45d90;
    position: absolute;
    transform: translate3d(100%,0,0);
    font-size: 12px;
    display: none;
    right: -20px;
	top: 0px;
}
.safe {
	height: 40px;
    font-size: 10px;
    font-weight: 700;
}
.safe p {
	float: left;
}
.a_pw {
	float: left;
	padding: 10px 0;
}
.a_pw p {
	position: absolute;
	top: 0px;
	right: 50px;
	color: #bc0001;
}
.safe_line {
	width: 30px;
    height: 5px;
    border-radius: 5px;
    margin-top: 7px;
    position: absolute;
    top: 10px;
    display: none;
}
.bc0001 {
	background: red;
	margin-left: 15px;
	display: block;
}
.bc0002 {
	background: #ff7f00;
	left: 123px;
}
.bc0003 {
	background: #f0f028;
	left: 183px;
}
.bc0004 {
	background: #7ade18;
	left: 242px;
}
.bc0005 {
	background: #49c519;
	left: 302px;
}
.country {
	position: relative;
	width: 420px;
	margin: 40px auto 12px;
}
.country select {
	height: 40px;
    width: 91px;
}
.phone {
	padding: 9px 0 9px 10px;
    height: 22px;
    width: 305px;
    color: #a5a5a5;
    margin-left: 6px;
}
.mailbox {
	height: 28px;
}
.m-d a {
	float: right;
	color: #00a1d6;	
	font-size: 12px;
	text-decoration: none;
}
.m-d a:hover {
	color: #f45d90;
}
.code {
	height: 40px;
}
.code_box {
	width: 405px;
	padding-left: 10px;
    border-radius: 3px;
    color: #a5a5a5;
    line-height: 39px;
}
.code_buttom {
	position: absolute;
	right: 0%;
	top: 2px;
	background-color: #00b5e5;
	color: #fff;
	width: 130px;
    height: 38px;
    border-radius: 3px;
    margin: 1px 1px 0 0;
    line-height: 38px;
    font-size: 12px;
    text-decoration: none;
}
.explain {
	padding: 15px 0 5px;
	text-align: left;
	font-size: 12px;
}
.explain a {
	text-decoration: none;
	color: #00a1d6;
}
.explain a:hover {
	color: #f45d90;
}
.submit_button {
	width: 415px;
	height: 40px;
	border: 0;
	border-radius: 3px;
	background: #f9f9f9;
	font-size: 14px;
}
.direct {
	padding: 15px 0 0;
	height: 30px;
}
.end {
	width: 100%;
	height: 50px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: #222222;
}
.end p {
	margin: 0;
	padding: 5px 0 0;
}